@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@tailwind utilities;

/* *{
  box-sizing: border-box;
} */

*{
  font-family: var(--font-inter);
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes gradientFlow {
  0%   { background-position: 0% 50%; }
  20%  { background-position: 25% 50%; }
  40%  { background-position: 50% 50%; }
  60%  { background-position: 75% 50%; }
  80%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-text {
  background: linear-gradient(
    90deg,
    var(--color-cl1),
    var(--color-cl2),
    var(--color-cl3),
    var(--color-cl4),
    var(--color-cl5),
    var(--color-cl6),
    var(--color-cl7),
    var(--color-cl8),
    var(--color-cl9)
  );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.animate-gradient-flow {
  animation: gradientFlow 8s ease-in-out infinite;
}






@theme {

  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-rubik: "Rubik", sans-serif;

  /* colors */
  --color-fond: #030018;
  --color-sections: #100d22;
  --color-highlited: #181030;
  --color-highlited2: #251a4b;
  --color-brighter: #ceab81;
  --color-button: #defb7d;
  --color-Mbubble: #9e7ff8;
  --color-Hbubble: #211784;


  /* error colors */ 
  --color-cl1: #000000;
  --color-cl2: #060413;
  --color-cl3: #0e0729;
  --color-cl4: #160b43;
  --color-cl5: #21115b;
  --color-cl6: #341d80;
  --color-cl7: #7a53d0;
  --color-cl8: #ba91f8;
  --color-cl9: #f4dffc;
}